html body{
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: Arimo, Helvetica, sans-serif;
    background: #eee;
}
#temp{
    margin: 3% auto 0 auto;
    align-content: center;
}
#temp #ctemp, #temp #change{
    vertical-align: middle;
}
#ctemp{
    font-size: 160pt;
    padding: 0 .1em;
    display: inline-block;
    position: relative;
}
#change{
    display: inline-block;
    padding: 0 .1em;
}
#dtemp{
    font-size: 100pt;
}
div .mode{
    padding-top: 3em;
}
.mode{
    width: 4em;
    height: 4em;
    padding: 0 1em;
}
#arrow-up {
	width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-bottom: 70px solid #2196F3;
    margin-bottom: -.7em;
    position: relative;
    cursor: pointer;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#arrow-down {
	width: 0;
	height: 0;
	border-left: 70px solid transparent;
	border-right: 70px solid transparent;
	border-top: 70px solid #2196F3;
    position: relative;
    margin-top: -.7em;
    cursor: pointer;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
span {
    display: none;
}
#heatState {
    color: #FF8A80; /* Red A100 */
}
#coolState {
    color: #82B1FF; /* Blue A100 */
}
#offState {
    color: #8BC34A; /* Light Green 500 */
}