html body{
    width: 100%;
    margin: 0;
    text-align: center;
    font-family: Helvetica;
}
#temp{
    margin: 3% auto 0 auto;
    align-content: center;
}
#temp #ctemp, #temp #change{
    vertical-align: middle;
}
#ctemp{
    font-size: 120pt;
    padding: 0 .05em 0 0;
    display: inline-block;
    position: relative;
}
#change{
    display: inline-block;
    padding: 0 0 0 .05em;
}
#dtemp{
    font-size: 60pt;
}
#mode{
    padding-top: 3em;
}
#arrow-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid #2196F3;
    margin-bottom: -.2em;
    cursor: pointer;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#arrow-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #2196F3;
    margin-top: -.2em;
    cursor: pointer;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
button /* transparent background, white text and border */
{
    border: 3px solid #2196F3;
	color: #FFF;
	font-family: inherit;
	font-size: 16pt;
	background: #2196F3;
	cursor: pointer;
	padding: .5em;
	display: inline-block;
	margin: 0 .1em;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all .2s cubic-bezier(.4,0,.2,1);
	-moz-transition: all .2s cubic-bezier(.4,0,.2,1);
	transition: all .2s cubic-bezier(.4,0,.2,1);
}
button:hover {
    box-shadow: 4px 4px 7px #888;
    z-index: 1;
}