body{
    width: 320px;
    margin: 30px auto 0 auto;
    text-align: center;
    font-family: Helvetica;
}
#ctemp{
    font-size: 120pt;
    float: left;
    margin-top: -6px;
}
#dtemp{
    font-size: 60pt;
    margin: -7px auto;
}
#mode{
    padding-top: 3em;
}
button /* transparent background, white text and border */
{
    border: 3px solid #2196F3;
	color: #FFF;
	font-family: inherit;
	font-size: 16pt;
	background: #2196F3;
    box-shadow: 2px 2px 7px #888;
	cursor: pointer;
	padding: .5em;
	display: inline-block;
	margin: 0 auto;
    margin-left: 10px;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all .3s cubic-bezier(.4,0,.2,1);
	-moz-transition: all .3s cubic-bezier(.4,0,.2,1);
	transition: all .3s cubic-bezier(.4,0,.2,1);
}
button:active {
    box-shadow: 4px 4px 7px #888;
    z-index: 1;
}
#arrow-up {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-bottom: 50px solid #2196F3;
    cursor: pointer;
    margin-left: 199px;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
#arrow-down {
	width: 0;
	height: 0;
	border-left: 50px solid transparent;
	border-right: 50px solid transparent;
	border-top: 50px solid #2196F3;
    cursor: pointer;
    margin-left: 199px;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}